
body {
  background-color: grey;
}

.row:nth-child(2)
{
  margin-bottom: 15px;
}

.wrapper {
  background-color: white;
  text-align: center;
  margin-top: -20px;
  width: 100%;
}

.chris img
{
  display: block;
  margin: auto;
  border: 1px white solid;
  width: 40%;
  background-color: green;
  margin-bottom: 10px;
 
}


.gallery {
  font-size: 1.5em;
  margin-top: 40px;

}




.load
{
  width: 100px;
}

input[type="text"] {
    width: 80%;
    font-size: 1em;
    background-color: grey;
    border-radius: 4px;
    margin: 15px 0;
  
}

input[type="text"]:hover {
  opacity: .7;
}

input[type="number"] {
    width: 80%;
    font-size: 1em;
    background-color: grey;
    border-radius: 4px;
    margin: 15px 0;
    border: 1px solid white; 
}

input[type="number"]:hover{
    opacity: .7;
}

#name,
#number {
  height: 30px;
  width: 80%;
  margin-bottom: 10px;
   border: 2px solid white;
}

#sender {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  opacity: .8;
}

#sender:hover {
  opacity: 1;
}


.chris {

  width: 100%;
  background-color: grey;
   margin-bottom: 0;
}

.chris2 {
  display: inline-block;
  width: 100%;

}


p {
  text-align: center;
  font-size: 1.2em;
  color:  white;
  background-color: ;
  display: block;
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}



@media screen and (min-width: 737px) {

.chris img {
  display: inline-block;
  border: 1px white solid;
  width: 15%;
  float: left;
  margin: 10px;
  background-color: green;
}

.chris2 {
  display: inline-block;
  width: 100%;
}

p {
  
  font-size: 1.2em;
  display: inline-block;
  margin-top: 20px;
  width: 13%;
  margin-left: 20px;
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;

}

input[type="text"]:hover {
  opacity: .7;
}

input[type="number"] {
    width: 80%;
    font-size: 1em;
    background-color: grey;
    border-radius: 4px;
    margin: 15px 0;
    border: 1px solid white; 
}

input[type="number"]:hover{
    opacity: .7;
}

#name,
#number {
  height: 30px;
  width: 50%;
  margin-bottom: 10px;
   border: 2px solid white;
}

#sender {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  opacity: .8;
}



}







